body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-416px;
  width:929px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:389px;
}
.u7_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:389px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u7_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:375px;
}
.u8 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:274px;
  height:375px;
  display:flex;
}
.u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Product Sans Bold', 'Product Sans Regular', 'Product Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
.u9 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:404px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'Product Sans Bold', 'Product Sans Regular', 'Product Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
.u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:422px;
}
#u6-2 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:0px;
  width:284px;
  height:422px;
}
#u6-3 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:0px;
  width:284px;
  height:422px;
}
#u6-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:455px;
  width:284px;
  height:422px;
}
#u6-5 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:455px;
  width:284px;
  height:422px;
}
#u6-6 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:455px;
  width:284px;
  height:422px;
}
#u6-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:910px;
  width:284px;
  height:422px;
}
#u6-8 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:910px;
  width:284px;
  height:422px;
}
#u6-9 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:910px;
  width:284px;
  height:422px;
}
#u6-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1365px;
  width:284px;
  height:422px;
}
#u6-11 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1365px;
  width:284px;
  height:422px;
}
#u6-12 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1365px;
  width:284px;
  height:422px;
}
#u6-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1820px;
  width:284px;
  height:422px;
}
#u6-14 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:1820px;
  width:284px;
  height:422px;
}
#u6-15 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1820px;
  width:284px;
  height:422px;
}
#u6-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2275px;
  width:284px;
  height:422px;
}
#u6-17 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2275px;
  width:284px;
  height:422px;
}
#u6-18 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:2275px;
  width:284px;
  height:422px;
}
#u6-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2730px;
  width:284px;
  height:422px;
}
#u6-20 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:2730px;
  width:284px;
  height:422px;
}
#u6-21 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:2730px;
  width:284px;
  height:422px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:551px;
  width:926px;
  height:3152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:88px;
  width:929px;
  height:425px;
}
#u10_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:425px;
  overflow:hidden;
}
