body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-123px;
  width:929px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:389px;
}
.u12_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:389px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:375px;
}
.u13 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:7px;
  width:274px;
  height:375px;
  display:flex;
}
.u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Product Sans Bold', 'Product Sans Regular', 'Product Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
.u14 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:404px;
  width:174px;
  height:18px;
  display:flex;
  font-family:'Product Sans Bold', 'Product Sans Regular', 'Product Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
.u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-568px;
  width:929px;
  height:425px;
}
.u15_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:425px;
  overflow:hidden;
}
#u11-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:422px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:601px;
  width:929px;
  height:422px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Product Sans Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:17px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:652px;
  width:364px;
  height:180px;
  display:flex;
  font-family:'Product Sans Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:17px;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
